@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 200% 200%;
  background-image: linear-gradient(260deg, #181d2a, #21293b);
  animation: Gradient 3s ease infinite;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
